# Backend
/backend/node_modules/
/backend/.env
/backend/uploads/
/backend/logs/
/backend/coverage/
/backend/.DS_Store
/backend/createAdmin.js

# Frontend (React or similar)
/frontend/node_modules/
/frontend/.env
/frontend/.next/
/frontend/.DS_Store
/frontend/build/
/frontend/.cache/
